extends layout

mixin interactionContainer(item, hasLiked)
  button(type='submit' class="like-buttons like" name="tweetId" value= item._id)
    i(class=["fa fa-heart", hasLiked ? "liked" : ""])
  - const likeCount = item.likedUsers.length || 0;
    span(class="tweet-like-count")= likeCount

block content
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title Document
  h1 Home
  div(class="add-div")
    form(action='/add' method='post')
      input(type='text' name='tweet' maxlength="280" required placeholder='Share something...')
      input(type="hidden" name="reqHome" value='home')
      button(type='submit' name="reqAdd" class="add-button" value="tweet") Submit
  div(class="logout-div")
    form(action='/logout?_method=DELETE' method='POST')
      button(type='submit' class="logout-button")
        i(class="fa fa-sign-out") Sign Out
  ul(class="tweet-list")
    each item in feed.tweets
      div(class="tweet-container")
        - if (item.tweetOwner === username) {
            div(class="delete-button-container")
              form(action='/delete' method='POST')
                input(type="hidden" name="reqHome" value='home')
                button(type='submit' class="delete-button" name="reqDelete" value= item._id)
                  i(class="fa fa-trash")
        - }
        span(class="tweet-owner")= item.tweetOwner
        li(class="tweet-text")= item.tweet
        div(class="like-buttons-container")
          - const hasLiked = item.likedUsers.includes(username);
            form(action=hasLiked ? "/unlike" : "/like", method="post")
              +interactionContainer(item, hasLiked)