extends layout

block content
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title Document
  h1 #{currentUser.username}'s Profile
  .follow-container
    form(action='/follow' method='POST')
      button(type='submit' name="reqFollowButton" class="follow-buttons follow" value= currentUser.username) Follow
    form(action='/unfollow' method='POST')
      button(type='submit' name="reqUnfollowButton" class="follow-buttons unfollow" value= currentUser.username) Unfollow
  ul(class="tweet-list")
    each item in currentUser.tweets
      div(class="tweet-container")
        span(class="tweet-owner")= item.tweetOwner
        li(class="tweet-text")= item.tweet
        div(class="like-buttons-container")
          form(action='/like' method='POST')
            input(type="hidden" name="reqUsername" value= currentUser.username)
            button(type='submit' class="like-buttons like" name="reqLike" value= item._id)
              i(class="fa fa-thumbs-up")
            - if (item.likedUsers.length > 0) {
              - const getCount = item.likeCount = item.likedUsers.length; 
                span(class="tweet-like-count")= getCount
            - }
          form(action='/unlike' method='POST')
            input(type="hidden" name="reqUsername" value= currentUser.username)
            button(type='submit' class="like-buttons unlike" name="reqUnlike" value= item._id) 
              i(class="fa fa-thumbs-down")