$color_1: white;
$color_2: red;
$color_3: #1a73e8;
$color_4: #442b2d;
$color_5: #fff;
$color_6: #1877f2;
$color_7: #ffffff;
$color_8: #e74c3c;
$color_9: #00447c;
$font-family_1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$background-color_1: #121212;
$background-color_2: #333;
$background-color_3: #1a73e8;
$background-color_4: #cf4435;
$background-color_5: #e74c3c;
$background-color_6: #a83629;
$background-color_7: #4caf50;
$background-color_8: #45a049;
$background-color_9: #347937;
$background-color_10: #e57373;
$background-color_11: #d9534f;
$background-color_12: #1a53e8;
$background-color_13: #155d9c;
$background-color_14: #444;
$background-color_15: #555;
$background-color_16: transparent;
$background-color_17: #57606f;
$background-color_18: #434c5e;
$background-color_19: #272c36;
$background-color_20: #5cb8b2;
$background-color_21: #3a7f79;
$background-color_22: #3f9442;
$background-color_23: #777;
$background-color_24: #00447c;
$background-color_25: #367833;
$border-color_1: transparent transparent transparent #e74c3c;

@keyframes disappear {
  from {
    transform: scale(1);
    transform-origin: center center;
    opacity: 1;
  }
  to {
    transform: scale(0);
    transform-origin: center center;
    opacity: 0;
  }
}

body {
  background-color: $background-color_1;
  color: $color_1;
  font-size: 13px;
  font-family: $font-family_1;
  margin: 0;
  overflow: hidden;
}
a {
  color: $color_1;
  display: block;
  color: $color_6;
  text-decoration: none;
  padding: 10px;
  background-color: $background-color_2;
  margin: auto;
  width: fit-content;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    background-color: $background-color_12;
  }
  &:active {
    background-color: $background-color_13;
    color: $color_5;
  }
}
h1 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: $color_1;
}
.container.centered-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p {
  text-align: center;
}
.centered-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
textarea {
  padding: 12px 20px;
  margin-bottom: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0;
  background-color: $background-color_2;
  color: $color_1;
  resize: none;
  min-height: 50px;
  min-width: 400;
  overflow-y: auto;
  width: 100%;
  border-radius: 10px;
  font-size: 13px;
  font-family: $font-family_1;
}
ul {
  list-style-type: none;
}
.container {
  margin: auto;
  padding: 20px;
}
.auth-form-container {
  padding: 25px;
  background-color: $background-color_2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
  }
}
.form-container {
  padding: 25px;
  background-color: $background-color_2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
  }
}
.form-group {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
  color: $color_1;
  margin-bottom: 8px;
}
input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}
.login-register-div-buttons.popup-button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: $background-color_3;
  color: $color_1;
  opacity: 0.8;
  background-color: $background-color_3;
  position: relative;
  z-index: 2;
  &:hover {
    opacity: 0.8;
  }
}
.add-button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: $background-color_3;
  color: $color_1;
  position: relative;
  z-index: 2;
  &:hover {
    opacity: 0.8;
    background-color: $background-color_3;
    opacity: 0.8;
  }
}
.logout-button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: $background-color_3;
  color: $color_1;
  background-color: $background-color_5;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: $background-color_5;
  color: $color_1;
  position: relative;
  z-index: 2;
  &:hover {
    background-color: $background-color_4;
    background-color: $background-color_4;
    opacity: 0.8;
    .fa-sign-out-alt {
      color: $color_3;
    }
  }
  &:active {
    background-color: $background-color_6;
    background-color: $background-color_6;
    .fa-sign-out-alt {
      .fa-home {
        color: $color_1;
      }
    }
  }
}
.delete-button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: $background-color_3;
  color: $color_1;
  background-color: $background-color_16;
  border: 0;
  font-size: 12px;
  cursor: pointer;
  &:active {
    color: $color_2;
  }
}
.popup-button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: $background-color_3;
  color: $color_1;
  position: relative;
  z-index: 2;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  border: 0;
  border-radius: 5px;
  background-color: $background-color_3;
  color: $color_1;
  margin-top: 10px;
  &:hover {
    opacity: 0.8;
    background-color: $background-color_3;
    opacity: 0.8;
    opacity: 0.8;
  }
}
.error-container {
  position: relative;
}
.back-to-home-button {
  margin-bottom: 15px;
}
.back-button-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.back-to-profile-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  text-decoration: none;
  color: $color_1;
  font-size: 16px;
  margin: 25px 0 0 25px;
  padding: 25;
  color: $color_1;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 15px;
  &:hover {
    text-decoration: underline;
    text-decoration: underline;
  }
}
.home-centered-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.tweet-form {
  max-width: 400px;
  width: 100%;
  margin: auto;
  max-width: 400px;
  width: 100%;
}
.share-button {
  margin-top: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: $background-color_7;
  color: $color_1;
  &:hover {
    opacity: 0.8;
    background-color: $background-color_8;
  }
  &:active {
    background-color: $background-color_9;
  }
}
.centered-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.error-message-box {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: $background-color_5;
  color: $color_1;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
  display: inline-block;
}
.error-message-container {
  margin-top: 10px;
  padding: 10px;
  background-color: $background-color_10;
  color: $color_4;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #b61827;
  box-shadow: 0 0 10px rgba(68, 43, 45, 0.1);
  opacity: 0;
  width: 100%;
  max-height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "!";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    line-height: 24px;
    border-radius: 50%;
    background-color: $background-color_11;
    margin-left: 5px;
    color: $color_5;
  }
}
.error-message-container.show {
  animation: disappear 0.5s forwards 4.5s;
  opacity: 1;
}
.error-message-box.show {
  opacity: 1;
  + {
    input#loginUsername {
      border: 2px solid #e74c3c;
    }
    input#registerUsername {
      border: 2px solid #e74c3c;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: $border-color_1;
    margin-left: 5px;
  }
}
.login-register-div-buttons {
  position: relative;
  z-index: 2;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  border: 0;
  border-radius: 5px;
  width: calc(100% - 40px);
  width: 100%;
  margin-top: 10px;
  &:hover {
    opacity: 0.8;
    opacity: 0.8;
  }
}
input#loginUsername {
  position: relative;
  z-index: 2;
  width: calc(100% - 20px);
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: $background-color_2;
  color: $color_1;
  border: 1px solid #555;
  border-radius: 5px;
}
input#registerUsername {
  position: relative;
  z-index: 2;
  width: calc(100% - 20px);
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: $background-color_2;
  color: $color_1;
  border: 1px solid #555;
  border-radius: 5px;
}
input#loginPassword {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: $background-color_2;
  color: $color_1;
  border: 1px solid #555;
  border-radius: 5px;
}
input#registerPassword {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: $background-color_2;
  color: $color_1;
  border: 1px solid #555;
  border-radius: 5px;
}
h2 {
  text-align: center;
  color: $color_1;
}
h3 {
  text-align: center;
  color: $color_1;
}
.tweet-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tweet-list {
  width: 100%;
  padding: 0;
  margin-top: 50px;
}
.tweet-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  background-color: $background-color_14;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 30em;
  height: fit-content;
  margin: 1em auto;
  position: relative;
  &:hover {
    background-color: $background-color_15;
    transform: scale(1.02);
  }
}
.tweet-owner {
  font-weight: 600;
  color: $color_3;
  margin-bottom: 8px;
  align-self: flex-start;
  margin-right: auto;
  margin-top: 0;
}
.tweet-text {
  word-break: break-all;
  overflow-wrap: break-word;
  padding-top: 8px;
  color: $color_1;
  text-align: left;
  margin-top: 8px;
  flex-grow: 1;
}
.delete-button-container {
  position: absolute;
  top: 0;
  right: -8px;
  padding: 3px;
}
.fa-trash {
  opacity: 0.8;
  transition: 0.3s;
  color: $color_5;
  &:hover {
    opacity: 1;
    color: $color_2;
  }
}
.fa-heart {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    content: "\f004";
  }
}
.like-buttons-container {
  position: absolute;
  bottom: 0;
  right: 0;
}
.like-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em 0.8em;
  background-color: $background-color_17;
  color: $color_7;
  cursor: pointer;
  border: none;
  border-radius: 0.2em;
  font-size: 0.9em;
  line-height: 1;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $background-color_18;
  }
  &:active {
    background-color: $background-color_19;
  }
}
.tweet-like-count {
  color: $color_8;
  margin-left: 0.3em;
  font-size: 1em;
}
.logout-div {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
.back-to-home-div {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
.follow-container {
  text-align: center;
  margin-top: 20px;
}
.followers-following-buttons {
  display: flex;
  gap: 10px;
}
.followers-button {
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
  border-radius: 5px;
  color: $color_1;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  background-color: $background-color_20;
  &:active {
    background-color: $background-color_21;
  }
  &:hover {
    opacity: 0.8;
    opacity: 0.8;
  }
}
.following-button {
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
  border-radius: 5px;
  color: $color_1;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  background-color: $background-color_20;
  &:active {
    background-color: $background-color_21;
  }
  &:hover {
    opacity: 0.8;
    opacity: 0.8;
  }
}
.follow-buttons {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  border: 0;
  border-radius: 5px;
  width: calc(100% - 40px);
  width: 100%;
  margin-top: 10px;
  &:hover {
    opacity: 0.8;
  }
}
.follow-buttons.following {
  background-color: $background-color_3;
  color: $color_1;
  &:hover {
    opacity: 0.8;
  }
}
.login-register-div-buttons.create-account {
  background-color: $background-color_3;
  color: $color_1;
  &:hover {
    opacity: 0.8;
  }
}
.follow-button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  border: 0;
  border-radius: 5px;
  margin-left: 10px;
  &:hover {
    opacity: 0.8;
  }
}
.follow-button.following {
  &:active {
    background-color: $background-color_22;
  }
  background-color: $background-color_7;
  color: $color_1;
}
.follow-button.unfollow {
  background-color: $background-color_5;
  color: $color_1;
  &:hover {
    background-color: $background-color_4;
  }
  &:active {
    background-color: $background-color_6;
  }
}
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.profile-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.profile-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.followers-list-container {
  display: none;
  position: absolute;
  background-color: $background-color_2;
  padding: 10px;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  text-align: center;
  margin-bottom: 3px;
  display: inline-block;
  color: $color_1;
  text-decoration: none;
  padding: 5px;
  width: fit-content;
  border-radius: 3px;
  font-size: 0.9em;
  .user-profile {
    &:hover {
      background-color: $background-color_23;
      color: $color_5;
      color: $color_9;
    }
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
    display: block;
    color: $color_1;
    text-decoration: none;
    padding: 10px;
    background-color: $background-color_2;
    margin: auto;
    width: fit-content;
    border-radius: 5px;
  }
}
.following-list-container {
  display: none;
  position: absolute;
  background-color: $background-color_2;
  padding: 10px;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  text-align: center;
  margin-bottom: 3px;
  display: inline-block;
  color: $color_1;
  text-decoration: none;
  padding: 5px;
  width: fit-content;
  border-radius: 3px;
  font-size: 0.9em;
  .user-profile {
    &:hover {
      background-color: $background-color_23;
      color: $color_5;
      color: $color_9;
    }
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
    display: block;
    color: $color_1;
    text-decoration: none;
    padding: 10px;
    background-color: $background-color_2;
    margin: auto;
    width: fit-content;
    border-radius: 5px;
  }
}
#register-form-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color_2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
  overflow: hidden;
}
#backgroundOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color_2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#registerPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color_2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  .register-login-form-div {
    background-color: $background-color_2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form#registerForm {
    width: 100%;
  }
  .form-group {
    width: 100%;
  }
  input {
    width: 100%;
  }
  button.login-register-div-buttons.login-and-register {
    width: 100%;
    margin-top: 10px;
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: $color_1;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  &:hover {
    color: $color_2;
  }
}
button.auth-button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  color: $color_1;
  margin-bottom: 10px;
  background-color: $background-color_3;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    background-color: $background-color_24;
  }
}
button.create-account-button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: auto;
  width: 100%;
  border: 0;
  border-radius: 5px;
  color: $color_1;
  background-color: $background-color_7;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    background-color: $background-color_25;
  }
}
.profile-icon-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}
.fa-user {
  &:hover {
    color: $color_1;
    background-color: $background-color_16;
    opacity: 1;
  }
  text-align: center;
  width: 30px;
  font-size: 20px;
  opacity: 0.8;
  transition: 0.3s;
  background-color: $background-color_16;
  &:active {
    opacity: 0.6;
  }
}
.fa-arrow-left {
  color: $color_1;
  background-color: $background-color_16;
  text-align: center;
  width: 30px;
  font-size: 20px;
  opacity: 0.8;
  transition: 0.3s;
  background-color: $background-color_16;
  opacity: 1;
  opacity: 0.6;
}
.fa-search {
  &:hover {
    color: $color_1;
    background-color: $background-color_16;
    opacity: 1;
  }
  text-align: center;
  width: 30px;
  font-size: 20px;
  opacity: 0.8;
  transition: 0.3s;
  background-color: $background-color_16;
  &:active {
    opacity: 0.6;
  }
}
.fa-home {
  &:hover {
    color: $color_1;
    background-color: $background-color_16;
    opacity: 1;
  }
  text-align: center;
  width: 30px;
  font-size: 20px;
  opacity: 0.8;
  transition: 0.3s;
  background-color: $background-color_16;
  &:active {
    opacity: 0.6;
  }
}
.search-form {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: relative;
  input {
    border-radius: 20px;
    width: 400px;
    background-color: $background-color_2;
    color: $color_1;
    border: none;
  }
}
.search-button {
  position: absolute;
  right: 0;
  background-color: $background-color_16;
  border: none;
  cursor: pointer;
  border-left: white;
  i {
    position: relative;
    z-index: 2;
    color: $color_1;
  }
}
.search-home-fa {
  text-align: center;
  width: 30px;
  font-size: 20px;
  opacity: 0.8;
  transition: 0.3s;
  opacity: 1;
  opacity: 0.6;
}
.search-results-container.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search-results-container {
  h2 {
    margin-bottom: 10px;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    margin-bottom: 10px;
  }
}
.profile-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}
.container.follow-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 80px;
}
.custom-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.page-title {
  margin: 0;
  margin-left: 10px;
}
.tab-container {
  width: 100%;
  max-width: 400px;
  background-color: $background-color_14;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  box-sizing: border-box;
}
.tab-list {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.tab-link {
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: $color_1;
}
.tab-link.active {
  padding: 3px;
  color: $color_1;
  background-color: $background-color_3;
}
.user-list-container.custom-user-list-container {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin-top: 20px;
}
.user-list.custom-user-list {
  width: 100%;
  padding: 0;
  list-style: none;
}
.user-details.custom-user-details {
  padding: 10px;
  background-color: $background-color_14;
  border-radius: 5px;
  margin: 5px 0;
  color: $color_1;
  text-decoration: none;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
  &:hover {
    background-color: $background-color_15;
    text-decoration: underline;
  }
}
